<div class="payment-page">

    <div class="payment-container">
        <div class="payment-component-container">
            <app-payment-method></app-payment-method>
        </div>
    </div>

    <!-- Decorative -->
    <div class="payment-decoration-container">
        
        <div class="nav-decorative-container">
            <img src="/assets/images/nav.png" alt="image-nac">
        </div>

        <div class="symbol-container">
            <img src="/assets/images/symbol.png" alt="image-nac">
        </div>

    </div>

</div>
